*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
    background: linear-gradient(135deg, #1e1e2f, #2b2d42);
    min-height: 100vh;
}

.newTask{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    height: 80px;
    width: 500px;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid gray;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap:0;
}
.inputs input{
    padding-left: 5px;
}
#newTask{
    height: 50px;
    width: 340px;
    font-size: 20px;
    font-weight: bold;
}
#newDescription{
    height: 30px;
    width: 340px;
    font-size: 18px;
    color: gray;
}
#add{
    height: 84px;
    width: 84px;
    font-size: 40px;
    color:white;
    background-color: #4facfe;
}
#add:hover{
    background-color: #1f91f6;
}
#restart{
    height: 84px;
    color: white;
    width: 80px;
    font-size: 40px;
    font-weight: bold;
    background: none;
    border: none;
}
#restart:hover{
    background-color: #ab0707;
}
.card {
    background: rgba(255, 255, 255, 0.9);
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    cursor: grab;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.card:hover{
    background-color: rgba(255, 255, 255, 0.8);
}
.taskText {
    max-width: 140px;      
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}
.taskDesc {
    max-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: gray;
    font-size: 12px;
}
.texts{
    display: flex;
    flex-direction: column;
}
.changeName{
    background: none;
    font-size: 18px;
    width: 150px;
    
}
.input2{
    color: white;
    font-weight:bold;
    text-align: center;
}

.kanbanBoard{
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.column {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    height: 450px;
    overflow: auto;
}
::-webkit-scrollbar {
    width:10px;
}
.column h2{
    color: white;
    font-weight:bold;
    text-align: center;
}
.dragging{
    opacity:0.9;
}
.deleteBtn{
    font-size: 20px;
    border: 0;
    background: none;
}
.editBtn{
    font-size: 20px;
    border: 0;
    background: none;
}
.doneBtn{
    background: none;
    border: 0;
    font-size: 24px;
}
.h2{
    color: white;
    font-weight:bold;
    text-align: center;
}
#done .card {
    color: white;
    background-color: rgba(100, 255, 180, 0.8);
}
.Done {
    color: white;
    background-color: rgba(100, 255, 180, 0.8);
}
#toDo{
    background: linear-gradient(120deg, #ff7a7a, #ffb199);
}
#priority{
    background: linear-gradient(120deg, #ffb347, #ffcc33);
}
#inProgress{
    background: linear-gradient(120deg, #4facfe, #00c6ff);
}
#done{
    background: linear-gradient(120deg, #43e97b, #38f9d7);
}
@media (max-width:1025px){
    .kanbanBoard{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .column{
        min-height: 100px;
        max-height: 400px;
        overflow: auto;
    }
    body{
        gap:20px;
    }
}
@media (max-width:800px) {
    .kanbanBoard{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .column{
        min-height: 100px;
        max-height: 400px;
        overflow: auto;
    }
    body{
        gap:20px;
    }
}
@media (max-width:550px) {
    .newTask{
        max-width: 400px;
        height: auto;
    }
    #newTask{
        padding-left: 20px;
        max-width: 300px;
    }
    #newDescription{
        padding-left: 20px;
        max-width: 300px;
    }
    #add{
        width: 50px;
        font-size: 50px;
        font-weight: bold;
    }
    #restart{
        width: 50px;
        font-size: 45px;
    }
    .kanbanBoard{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .column{
        min-height: 100px;
    }
}

